<ion-header>
  <ion-navbar>
    <ion-title>News List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal"  (click)="favourites()">
        <!--*ngIf="selectedNews.length > 0" -->
        <ion-icon  name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--<ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/icon/app/sport.png">
      </ion-avatar>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button icon-only clear item-right>
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>-->

<ion-searchbar
  [(ngModel)]="searchText"
  [showCancelButton]="true"
  [animated]="true"
  [autocomplete]="on"  
  [spellcheck]="true">
</ion-searchbar>
  <ion-card>
    <ion-card-header>
      Available News
    </ion-card-header>

    <ion-list>
      <button ion-item (dblclick)="detailView(item)" (click)="selectNews(item)" *ngFor="let item of newsListDatas | MathcesCategory:searchText">
        <ion-icon name="{{item.iconName}}" item-left></ion-icon>
            {{ item.name }}
        <ion-icon name="heart-outline" *ngIf="!item.newsChoose"  item-right></ion-icon>
        <ion-icon name="heart" *ngIf="item.newsChoose" item-right></ion-icon>
      </button>

      <!--<button ion-item>
      <ion-icon name="desktop" item-left></ion-icon>
      technology
      <ion-icon name="heart-outline" item-right></ion-icon>
    </button>

      <button ion-item>
      <ion-icon name="book" item-left></ion-icon>
      general
      <ion-icon name="heart-outline" item-right></ion-icon>
    </button>

      <button ion-item>
      <ion-icon name="cart" item-left></ion-icon>
      business
      <ion-icon name="heart-outline" item-right></ion-icon>
    </button>
      <button ion-item>
      <ion-icon name="body" item-left></ion-icon>
      politics
      <ion-icon name="heart-outline" item-right></ion-icon>
    </button>-->
    </ion-list>
  </ion-card>
</ion-content>